/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 20%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px;
}

.sidenav ul{
    padding-left:12%;
    padding-top: 0;
    padding-bottom: 9%;
}

/* The navigation menu links */
.sidenav a {
    padding: 0px 0px 0px 0px;
    text-decoration: none;
    font-size: 2vw;
    color: #818181;
    display: block;
}

@media (orientation: portrait) {
        .sidenav {
            width: 30%;
        }
        .sidenav a {
            font-size: 3vw;
        }
}

@media (orientation: portrait) {
    #container {
        position: absolute;
        left: 32.5%;
        width: 60%;
        margin: 0 auto;
        background-color: #818181;
    }
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}