#element {
  position: absolute;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  width: 40%;
  height: 34%;
  border-radius: 5px;
  z-index: 9;
  left: 30%;
  top: 0%;
}

#mydivheader {
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
  width: 90%;
  height: 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  height: 100%;
  font-size: 1rem;
  background-color: lightgrey;
}

#up_left{
  top:35%;
  left:22.5%;
}

#up{
  top:35%;
  left:42.5%;
}

#up_right{
  top:35%;
  left:62.5%;
}

#left{
  top: 57.5%;
  left: 22.5%;
}

#stop{
  top: 57.5%;
  left: 42.5%;
}

#right{
  top: 57.5%;
  left: 62.5%;
}

#down_left{
  top:80%;
  left:22.5%;
}

#down{
  top:80%;
  left:42.5%;
}

#down_right{
  top:80%;
  left:62.5%;
}

#rotate_left{
  top: 57.5%;
  left: 5%;
  background-color: blue;
}

#rotate_right {
  top: 57.5%;
  left: 80%;
  background-color: blue;
}

#speed_down {
  width: 12%;
  height: 17.5%;
  top: 82%;
  left: 6.5%;
  background-color: orange;
  border-radius: 50%;
}

#speed_up {
  width: 12%;
  height: 17.5%;
  top: 82%;
  left: 81.5%;
  background-color: orange;
  border-radius: 50%;
}

.btn{
  position: fixed;
  height: 20%;
  width: 15%;

  background-color: green;
  display: flex;

  border-radius: 10%;
}

.image{
  height: 100%;
  margin: auto;
}

.handler{
  cursor: move;
  z-index: 10;
  color: #fff;
  width: 90%;
  height: 15%;
  position: absolute;
  left: 5%;
  top: 5%;
}

@media (orientation: portrait) {
  .image{
    width: 100%;
  }

  .btn{
    height: 15%;
    width: 30%;
    border-radius: 15%;
  }

  #up_left{
    top:27.5%;
    left:2.5%;
  }

  #up{
    top:27.5%;
    left:35%;
  }

  #up_right{
    top:27.5%;
    left:67.5%;
  }

  #left{
    top: 45%;
    left: 2.5%;
  }

  #stop{
    top: 45%;
    left: 35%;
  }

  #right{
    top: 45%;
    left: 67.5%;
  }

  #down_left{
    top:62.5%;
    left:2.5%;
  }

  #down{
    top:62.5%;
    left:35%;
  }

  #down_right{
    top:62.5%;
    left:67.5%;
  }

  #rotate_left{
    top: 80%;
    left: 2.5%;
  }

  #rotate_right {
    top: 80%;
    left: 67.5%;
  }

  #element {
    top: 0;
    left: 20%;
    height: 25%;
    width: 60%;
  }

  #speed_down {
    width: 14%;
    height: 10%;
    top: 10%;
    left: 4%;
    background-color: orange;
    border-radius: 50%;
  }

  #speed_up {
    width: 14%;
    height: 10%;
    top: 10%;
    left: 84%;
    background-color: orange;
    border-radius: 50%;
  }
}

.clickarea{
  top: 21%;
  left: 5%;
  width: 88%;
  height: 72%;
  position: absolute;
  display: flex;
}

#plusclick, #minusclick{
  border-radius: 50%;
}
